@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: hsl(185, 75%, 39%);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Kumbh Sans', sans serif;
    font-size: 1em;
    font-weight: 400;
    color: #2d3248;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../images/bg-pattern-top.svg") left 0 top -700px no-repeat, url("../../images/bg-pattern-bottom.svg") right 0 bottom -600px no-repeat;
}




.card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    background-color: white;
    max-width: 370px;
    border-radius: 15px;
    overflow: hidden;
}

.card .card-header {
    height: 212px;
}

.card .card-header .card-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card .card-header .card-profile {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 55px;
}

#profile-img {
    border-radius: 50px;
    border: 5px solid white;
}

.card .card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 12px;
    line-height: 2em;
}

.card .card-body .name {
    font-size: 18px;
    font-weight: 700;
}

.card .card-body .age {
    color: #6a6f81;
    font-weight: 400;
}

.card .card-body .city {
    color: #969696;
    font-size: 14px;
}

.card .card-bottom {
    padding: 34px 14px;
    text-align: center;
}

.card .card-bottom .card-stats {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    
}



.likes {
    margin: 0px 60px;
}



.card .card-stats #name {
    color: #969696;
    font-size: 12px;
}

.card .card-stats #number {
    font-size: 18px;
    font-weight: 800;
}


@media only screen and (max-width: 1750px) {
    .wrapper {
      background: url("../../images/bg-pattern-top.svg") left -210px top -530px no-repeat, url("../../images/bg-pattern-bottom.svg") right -210px bottom -530px no-repeat;
    }
  }
  
  @media only screen and (max-width: 1450px) {
    .wrapper {
      background: url("../../images/bg-pattern-top.svg") left -310px top -630px no-repeat, url("../../images/bg-pattern-bottom.svg") right -310px bottom -630px no-repeat;
    }
  }
  
  @media only screen and (max-width: 1280px) {
    .wrapper {
      background: url("../../images/bg-pattern-top.svg") left -700px top -743px no-repeat, url("../../images/bg-pattern-bottom.svg") right -700px bottom -743px no-repeat;
    }
  }